name: Publish

on:
  release:
    types: [published]

permissions:
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      # ---------------------------------------------------------------------
      # Setup

      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: "22.21.1"
          registry-url: "https://registry.npmjs.org"

      - run: npm ci

      # ---------------------------------------------------------------------
      # Build

      - run: ./node_modules/.bin/tsc
      - run: npm --no-git-tag-version version from-git

      # ---------------------------------------------------------------------
      # Publish

      - run: npm publish --access public
